<template name="MasterLayout">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Scipopulis dashboard">
        <meta name="author" content="Scipopulis">
        <link rel="icon" href="/favicon.ico">
        <title>Dashboard Admin</title>
    </head>

    <body>

    <header>

        <nav class="default" role="navigation">

            <div class="nav-wrapper">
                <a href="#" data-activates="mobile-demo" class="button-collapse show-on-medium-and-down"><i
                        class="material-icons">menu</i></a>

                <!-- menu for big screen -->
                <ul class="side-nav fixed hide-on-med-and-down">
                    <li class="{{activeIfTemplateIs 'main'}}"><a href="{{pathFor 'main'}}">Home</a></li>
                    <li class="{{activeIfTemplateIs 'users'}}"><a href="{{pathFor 'users'}}">Usuários</a></li>
                </ul>

                <!-- menu for mobile    -->
                <ul class="side-nav" id="mobile-demo">
                    <li class="{{activeIfTemplateIs 'main'}}"><a href="{{pathFor 'main'}}">Home</a></li>
                    <li class="{{activeIfTemplateIs 'users'}}"><a href="{{pathFor 'users'}}">Usuários</a></li>
                </ul>

            </div>
        </nav>

    </header>

    <main>
        {{> yield}}
    </main>

    <script>
    </script>


    </body>
</template>
