<template name="main">

    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-3 col-xs-1">
            </div>

            <div class="col-lg-6 col-xs-10">

                <div class="row">

                    <div class="panel panel-default">
                        <div class="panel-heading" style="text-align: center"> Home </div>

                        <div class="panel-body" style="text-align: center">

                            <div class="row">


                            </div>
                        </div>

                    </div>

                    <div class="col-xs-3">
                    </div>

                </div>


            </div>
        </div>
    </div>

</template>
